{% extends "layouts/main.html" %}

{% block title %}Tasks{% endblock %}

{% block body %}

  <form id="store" name="store" class="form-inline" method="POST" action="/task/store">
    <div class="form-group">
      <label class="sr-only" for="author_name">Имя пользователя</label>
      <input type="text" name="author_name" class="form-control" placeholder="Имя пользователя">
    </div>
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="description">Текст задачи</label>
      <input type="text" name="description" class="form-control" placeholder="Текст задачи">
    </div>
    
    <button type="submit" class="btn btn-default">Создать</button>
  </form>

  <hr>

  {% set sortColumn = sort[0] %}
  {% set sortMethod = sort[1] %}

  {% if sortMethod == 'asc' %}
    {% set icon = 'glyphicon glyphicon-triangle-top' %}
    {% set sortNewMethod = 'desc' %}
  {% endif %}
  {% if sortMethod == 'desc' %}
    {% set icon = 'glyphicon glyphicon-triangle-bottom' %}
    {% set sortNewMethod = 'asc' %}
  {% endif %}

  <div class="row">
    <div class="col-xs-3">
      <strong>Имя пользователя</strong>
      {% if sortColumn == 'author_name' %}
        <a href="/?page={{ currentPagepage }}&sort=author_name|{{ sortNewMethod }}">
          <span class="pull-right {{ icon }}" aria-hidden="true"></span>
        </a>
      {% else %}
        <a href="/?page={{ currentPagepage }}&sort=author_name|asc">
          <span class="glyphicon glyphicon-triangle-bottom pull-right opacity--half" aria-hidden="true"></span>
        </a>
      {% endif %}
    </div>
    <div class="col-xs-3">
      <strong>Email</strong>
      {% if sortColumn == 'email' %}
        <a href="/?page={{ currentPagepage }}&sort=email|{{ sortNewMethod }}">
          <span class="pull-right {{ icon }}" aria-hidden="true"></span>
        </a>
      {% else %}
        <a href="/?page={{ currentPagepage }}&sort=email|asc">
          <span class="glyphicon glyphicon-triangle-bottom pull-right opacity--half" aria-hidden="true"></span>
        </a>
      {% endif %}
    </div>
    <div class="col-xs-3">
      <strong>Текст задачи</strong>
      {% if sortColumn == 'description' %}
        <a href="/?page={{ currentPagepage }}&sort=description|{{ sortNewMethod }}">
          <span class="pull-right {{ icon }}" aria-hidden="true"></span>
        </a>
      {% else %}
        <a href="/?page={{ currentPagepage }}&sort=description|asc">
          <span class="glyphicon glyphicon-triangle-bottom pull-right opacity--half" aria-hidden="true"></span>
        </a>
      {% endif %}
    </div>
    <div class="col-xs-3">
      <strong>Статус</strong>
      {% if sortColumn == 'status' %}
        <a href="/?page={{ currentPagepage }}&sort=status|{{ sortNewMethod }}">
          <span class="pull-right {{ icon }}" aria-hidden="true"></span>
        </a>
      {% else %}
        <a href="/?page={{ currentPagepage }}&sort=status|asc">
          <span class="glyphicon glyphicon-triangle-bottom pull-right opacity--half" aria-hidden="true"></span>
        </a>
      {% endif %}
    </div>
  </div>

  {% if tasks|length > 0 %}

      {% for item in tasks %}

        <div class="row">
          <div class="col-xs-3">{{ item['author_name'] }}</div>
          <div class="col-xs-3">{{ item['email'] }}</div>
          <div class="col-xs-3">
            <span>{{ item['description'] }}</span>
            {% if item['edited'] == true %}
              <br>
              <span class="badge">отредактировано администратором</span>
            {% endif %}
          </div>
          <div class="col-xs-3">
            {% if item.status == 'new' %}
              <span>Новая</span>
            {%  else %}
              <span>Выполнена</span>
            {% endif %}

            {% if session.logged_in %}
              <a class="pull-right" href="/task/edit/{{ item['id'] }}">edit</a>
            {% endif %}
          </div>
        </div>

      {% endfor %}

      {% autoescape false %}
        {{ pagination }}
      {% endautoescape %}

  {% else %}

    <h2>Список задач пуст</h2>

  {% endif %}

{% endblock %}